apiVersion: v1
kind: Service
metadata:
  name: "{{label_app}}-svc" # Sets service name
  namespace: "{{namespace_name}}"
  labels:
    app: "{{label_app}}" # Labels and Selectors
spec:
 type: NodePort # Sets service type
 ports:
   - name: "{{label_app}}-tcp"
     port: 8080
     targetPort: http-webserver
     protocol: TCP
   - name: https
     port: 8443
     targetPort: https-webserver
     protocol: TCP  
 selector:
   app: "{{label_app}}"